<!-- Footer -->
<footer class="visualizations-mobile-footer">
    <div class="visualizations-mobile-container text-center">
        <p class="text-xs text-center mb-2">@<a href="https://github.com/bettergovph/open-data-visualization" target="_blank" rel="noopener noreferrer">https://github.com/bettergovph/open-data-visualization</a></p>
        <p class="text-xs text-center mb-2">Maintainer: @<a href="https://github.com/joebertj" target="_blank" rel="noopener noreferrer">https://github.com/joebertj</a></p>
        <p class="text-xs text-center mb-0">❤️ Para sa Bayan</p>
    </div>
</footer>

