# /etc/systemd/system/visualization_api.service

[Unit]
Description=BetterGovPH Data Visualization API - FastAPI Backend
After=network.target

[Service]
User=joebert
WorkingDirectory=/home/joebert/open-data-visualization
ExecStart=/bin/bash -c '/home/joebert/open-data-visualization/venv/bin/uvicorn visualization:app --host 172.30.147.217 --port 8001 --workers 1 --loop asyncio --access-log --log-level info'
EnvironmentFile=/home/joebert/open-data-visualization/.env
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Security settings
ReadWritePaths=/home/joebert/open-data-visualization /tmp

[Install]
WantedBy=multi-user.target
